In [23]:
import pandas as pd
import numpy as np

# Question 1

What's the version of Pandas that you installed? = `2.0.3`

In [3]:
pd.__version__

'2.0.3'

In [2]:
df = pd.read_csv("housing.csv")

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Question 2

How many columns are in the dataset? = `10`

In [11]:
df.shape

(20640, 10)

# Question 3

Which columns in the dataset have missing values? = `total_bedrooms`

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [21]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

# Question 4

How many unique values does the ocean_proximity column have? = `5`

In [15]:
df["ocean_proximity"].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

# Question 5

What's the average value of the median_house_value for the houses located near the bay? = `259212`

In [19]:
mask = df["ocean_proximity"] == "NEAR BAY"
df[mask]["median_house_value"].mean()

259212.31179039303

# Question 6

   - Calculate the average of total_bedrooms column in the dataset.
   - Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
   - Now, calculate the average of total_bedrooms again.
   - Has it changed? = `No`

In [20]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

- Calculate the average of `total_bedrooms` column in the dataset.

In [9]:
mean_tot_bed = df["total_bedrooms"].mean()
mean_tot_bed

537.8705525375617

- Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.

In [8]:
df["total_bedrooms"].fillna(value=mean_tot_bed, inplace=True)

In [11]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

- Now, calculate the average of `total_bedrooms` again.

In [10]:
df["total_bedrooms"].mean()

537.8705525375617

# Question 7

   - Select all the options located on islands.
   - Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
   - Get the underlying NumPy array. Let's call it `X`.
   - Compute matrix-matrix multiplication between the `transpose of X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
   - Compute the `inverse of XTX`.
   - Create an array y with values `[950, 1300, 800, 1000, 1300]`.
   - Multiply the `inverse of XTX` with the `transpose of X`, and then multiply the result by `y`. Call the result `w`.
   - What's the value of the last element of `w`? = `5.6992`
---

- Select all the options located on islands.

In [17]:
mask = df["ocean_proximity"] == "ISLAND"
df[mask]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

- Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.

In [18]:
df_filter = df[mask][["housing_median_age", "total_rooms", "total_bedrooms"]]
df_filter

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

- Get the underlying NumPy array. Let's call it `X`.

In [19]:
X = df_filter.to_numpy()
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

- Compute matrix-matrix multiplication between the `transpose of X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.

In [25]:
XTX = np.matmul(X.T, X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [33]:
np.dot(X.T, X)

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

- Compute the `inverse of XTX`.

In [37]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

- Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.

In [27]:
y = np.array([950, 1300, 800, 1000, 1300])
y

array([ 950, 1300,  800, 1000, 1300])

- Multiply the `inverse of XTX` with the `transpose of X`, and then multiply the result by `y`. Call the result `w`.

In [39]:
np.dot(XTX_inv, X.T)

array([[-0.00825608, -0.00653208, -0.00232159,  0.02565144,  0.01204934],
       [-0.00165852,  0.0011141 ,  0.00139656, -0.00103215, -0.00110698],
       [ 0.00754365, -0.00301964, -0.00455125,  0.00181685,  0.00329418]])

In [41]:
w = np.dot(np.dot(XTX_inv, X.T), y)
w

array([23.12330961, -1.48124183,  5.69922946])